<template bindable="router">
  <div class="search-ribbon">
    <require from="./_layouts/search-ribbon-header.html"></require>
    <header as-element="search-ribbon-header"></header>

    Search Ribbon
  </div>
</template>
