$search-ribbon--bg-color: rgba(0, 0, 0, 255);
$search-ribbon--color: rgba(255, 255, 255, 255);
.search-ribbon {
  background-color: $search-ribbon--bg-color;
  color: $search-ribbon--color;
  width: 300px;
}
